*.apk
*.aab
*.aar
*.ap_
*.class
*.dex
/build/
/app/build/
**/release/
**/debug/
.externalNativeBuild
.cxx
/captures
.gradle
gradle-app.setting
local.properties
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
.DS_Store
Thumbs.db